fastapi
uvicorn
python-multipart
python-jose[cryptography]
bcrypt
sqlalchemy
psycopg2-binary
pydantic-settings
ultralytics
opencv-python-headless
Pillow
numpy
groq
grad-cam
torch
torchvision
python-dotenv
email-validator